/* With 600px by 600px the squares will not form 3 columns, only 2,
 * because the grid MUST FIT THE BORDER AS WELL --> so, we include the border width
 * adding 6px
 */
.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-color: aqua;
}