* { box-sizing: border-box; }

main {
	/* since is only one component, centralizing with position:absolute */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*  */
}

.choices-display { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.moves { margin-top: 15px; }

.game-info, .moves {
	display: flex;
	flex-direction: column;
}

.game-info {
	background-image: linear-gradient(to right,  rgb(131, 102, 197),  rgb(197, 50, 107));
	border-radius: 15px;
	width: 100%;
	padding: 2rem;
}

.choice-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

h1 { 
	width: 100%; 
	border-top: 3.5px solid rgb(107, 76, 180);
	padding-top: 0.5rem;
}

.choice, #result {
	color:rgb(115, 197, 177);
	text-transform: uppercase;
	/* margin-left: 20%; */
	font-size: 1.8rem;
}

.moves-btns {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

button {
	width: 30%;
	font-size: 1rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 500;
	padding: 0.5em 0;
	outline: none;
	border: none;
	border-bottom: 3.5px solid rgb(107, 76, 180);
	background-color: rgb(255, 255, 255);
	color: #333;
	cursor: pointer;
	transition: 0.3s;
}

button:hover { background-color: rgb(230, 182, 182);}

button:active {
	background-color: rgb(99, 231, 132);
	transform: translateY(4px);
}

